.feature-right {
  display: flexbox;

  width: 1500px;
  min-height: 300px;
  max-height: 300px;
  text-overflow: clip;

  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin: 20px 0;
  text-align: left;
}

.feature-content-right {
  text-overflow: clip;
}

.feature-image-right {
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  transform: translate(-10%, -2%);
  right: 5%;

  min-height: 35%;
  min-width: 25%;
  max-height: 75%;
  max-width: 30%;
  border-radius: 15px;
}

.feature-text-right {
  font-size: 30px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0);

  max-width: 60%;
  position: absolute;
  padding-left: 50px;
  padding-top: 50px;
  left: 5%;
}

html {
  scroll-behavior: smooth;
}
