.featurePage {
  padding-top: 90px;
  padding-bottom: 20px;
  text-align: center;
  background-color: rgb(172, 255, 219);
}

.title {
  font-size: 2.5em;
  margin: 40px;
  color: #333;
}

.featureList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
